<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
	<body>
		<%- include('./partials/nav')%>

		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
		<div class="footer"><%- include('./partials/footer')%></div>
	</body>
</html>
