<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<%- include('./partials/nav.ejs')%>

		<h1><%= title %> page</h1>

		<% if (todoList.length > 0){ %> 
			<% todoList.forEach(item => { %>
				<h3 class="taskTitle"><%= item.title %></h3>
				<div class="taskMetadata">
					<p>Priority: <%= item.priority %></p>
					<p>Due: <%= item.due %></p>
				</div>
			<% }) %> 
		<% }else{%>
			<p>No tasks due today.</p>
		<% } %> 
		
		<%- include('./partials/footer.ejs')%>
	</body>
</html>
